body {
  width: 400px;
  height: 450px;
}

.red {
  height: 100px;
  background: #ff0000;
}

.green {
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}
.purple {
  height: 50px;
  background: #cc00db;
}
.blue {
  height: 100px;
  background: #0093b7;
}

.orange {
  width: 100px;
  background: #ff9e6b;
  float: right;
}

.brown {
  height: 100px;
  background: #8c2727;
}